<div class="container" style="margin-top:10px">
  <div class="row" style="margin-top:10px;">
    <div class="col">
      <mat-card style="border-top:2px solid #0d47a1;height:380px">
        <h3 class="text-center"><i class="fab fa-apple"></i> Mac OS</h3>
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">macOS. It’s why there’s nothing else like a Mac.</h3>
            <br/>
            <p>macOS is the operating system that powers every Mac. It lets you do things you simply can’t with other
              computers. That’s because it’s designed specifically for the hardware it runs on — and vice versa. macOS
              comes with an entire suite of beautifully designed apps. It works hand in hand with iCloud to keep photos,
              documents and other stuff up to date on all your devices. It makes your Mac work like magic with your
              iPhone. And it’s been built from the ground up with privacy and security in mind. </p>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col">
      <mat-card style="border-top:2px solid #0d47a1;height:380px">
        <h3 class="text-center"><i class="fab fa-apple"></i> iCloud</h3>
        <div class="row">
          <div class="col-md-12">
              <h3 class="text-center">The Best Place for all your photos files and more.</h3>
              <br/>
            <p>iCloud is built into every Apple device. That means all your stuff — photos, files, notes and more — is
              safe, up to date and available wherever you are. And it works automatically, so all you have to do is keep
              doing what you love. Everyone gets 5GB of free iCloud storage to start and it’s easy to add more at any
              time. </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>