<div class="container" style="margin-top:10px">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <mat-card style="border-top:2px solid #000">
        <mat-card-header>
          <div mat-card-avatar><i class="fab fa-apple fa-2x"></i></div>
          <mat-card-title>IOS</mat-card-title>
          <mat-card-subtitle>Operating system</mat-card-subtitle>
        </mat-card-header>
        <!-- <img src="assets/images/amazon.jpg" class="center"> -->
        <mat-divider></mat-divider>
        <mat-card-content>
          <div style="font-size:1.125rem">
            <p>iOS is a mobile operating system created and developed by Apple Inc. exclusively for its hardware. It is
              the operating system that presently powers many of the company's mobile devices, including the iPhone,
              iPad, and iPod Touch. It is the second most popular mobile operating system globally after Android. </p>

            <p>Originally unveiled in 2007 for the iPhone, iOS has been extended to support other Apple devices such as
              the iPod Touch (September 2007) and the iPad (January 2010). As of March 2018, Apple's App Store contains
              more than 2.1 million iOS applications, 1 million of which are native for iPads. These mobile apps have
              collectively been downloaded more than 130 billion times.</p>
            
          </div>
          <br/>

        </mat-card-content>

      </mat-card>

    </div>
  </div>
</div>