<!-- <ul class="collapsible collapsible-accordion" *ngFor="let childlink of node.children">
    <li><a class="collapsible-header waves-light">{{childlink.text}}</a>
        <div class="collapsible-body">
            <app-childnav [node]="childlink"></app-childnav>
        </div>
    </li>
</ul> -->
<!-- <mat-list>
    <div *ngFor="let childlink of node.children">
    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-list-item>
                    <a style="cursor: pointer;">
                        <h4 mat-line>{{childlink.text}}</h4>
                    </a>
                </mat-list-item>
              </mat-expansion-panel-header>
              
                <app-childnav [node]="childlink"></app-childnav>
        </mat-expansion-panel>
    </div>
</mat-list> -->
<!-- <ul id="accordion{{node?.children[0]?.id}}">
    <div *ngFor="let childlink of node.children">
      <div class="collapsed" id="headingOne" data-toggle="collapse" [attr.data-target]="'#collapse'+childlink.id" aria-expanded="true"
        aria-controls="collapse{{childlink.id}}">
        <h5 class="mb-0">
          {{childlink.text}}
        </h5>
      </div>
  
      <li id="collapse{{childlink.id}}" class="collapse" aria-labelledby="headingOne" [attr.data-parent]="'#accordion'+node.children[0].id">
          <app-childnav [node]="childlink"></app-childnav>
      </li>
    </div>
  </ul> -->
  <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(node)"
   [ngClass]="{'active1': node.route ? router.isActive(node.route, true): false,'expanded': expanded, 'disable' : node.disabled,'activeItem':!node.disabled }" 
   class="menu-list-item">
   <span [ngClass]="{'docked':!isOpened}" style="margin-right:10px">
      <mat-icon class="routeIcon" [innerHtml]="node.iconName"></mat-icon>
    </span>
  
  <span *ngIf="isOpened">{{node.displayName}}</span>
  <span *ngIf="isOpened" style="flex: 1 1 auto;"></span>
  <span *ngIf="node.children && node.children.length && isOpened">
      
      
          <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
              expand_more
            </mat-icon>
    
  </span>
</a>
<div *ngIf="expanded">
  <app-childnav  *ngFor="let child of node.children" [isOpened]="isOpened" [node]="child" [depth]="depth+1">
  </app-childnav>
</div>
