  <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(node)"
   [ngClass]="{'active1': node.route ? router.isActive(node.route, true): false,'expanded': expanded, 'disable' : node.disabled,'activeItem':!node.disabled }" 
   class="menu-list-item">
   <span [ngClass]="{'docked':!isOpened}" style="margin-right:10px">
      <mat-icon class="routeIcon" [innerHtml]="node.iconName"></mat-icon>
    </span>
  
  <span *ngIf="isOpened">{{node.displayName}}</span>
  <span *ngIf="isOpened" style="flex: 1 1 auto;"></span>
  <span *ngIf="node.children && node.children.length && isOpened">
      
      
          <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
              expand_more
            </mat-icon>
    
  </span>
</a>
<div *ngIf="expanded">
  <app-childnav  *ngFor="let child of node.children" [isOpened]="isOpened" [node]="child" [depth]="depth+1">
  </app-childnav>
</div>
