<div class="container" style="margin-top:10px">
  <img src="assets/images/developers.png">
  <br />
  <div class="row">
    <div class="col-md-12">

      <p>
        Google Developers is Google's site for software development tools, application programming interfaces, and
        technical resources. The site contains documentation on using Google developer tools and APIs—including
        discussion groups and blogs for developers using Google's developer products.</p>
      <p>There are APIs offered for almost all of Google's popular consumer products, like Google Maps, YouTube, Google
        Apps, and others.[( Gmail account)]</p>
      <p>The site also features a variety of developer products and tools built specifically for developers. Google App
        Engine is a hosting service for web apps. Project Hosting gives users version control for open source code.
        Google Web Toolkit (GWT) allows developers to create Ajax applications in the Java programming language.(All
        languages)</p>
      <p>
        The site contains reference information for community based developer products that Google is involved with like
        Android from the Open Handset Alliance and OpenSocial from the OpenSocial Foundation.
      </p>
    </div>
  </div>