<div class="container" style="margin-top:10px">
  <h3 style="text-transform: uppercase">
    Google Services
  </h3>
  <p>Google offers a variety of services and tools besides its basic web search. This is a partial list of Google's
    services.</p>
  <div class="offset-lg-1 col-lg-7">
    <div class="overlay rounded z-depth-2 mb-lg-0 mb-4">
      <img class="img-fluid1" src="assets/images/service.png">
    </div>
  </div>
  <br/>
  <div class="row">
    <!-- <div class="col-lg-5">
        <div class="overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" src="assets/images/images1.png">
        </div>
      </div> -->
    <div class="col-md-12">

      <p>
        it provided simple access to the Google+ APIs and OAuth 2.0, but since then it has expanded to cover a large
        variety of Google's services, allowing applications to easily communicate with the services through common
        means.[8] As of April 2018, it has been installed more than five billion times on Android devices.</p>
    </div>
  </div>

</div>