<div class="container" style="margin-top:10px">
  <!-- <img class="img" src="/assets/images/ecomerce.jpeg" alt="Notebook" style="width:100%;"> -->
  <div class="content">
    <h3 style="text-transform: uppercase">
      Amazon E Comerce
    </h3>
    <p>Amazon is a massive online retailer that has a market capitalization as of
      June 2018 that is in excess of $268 billion U.S. As well as being an online retailer, Amazon allows for
      individuals and business to sell and display products for sale on line.
    </p>
    <p>Amazon.com has always sold goods out of its own warehouses. It started as a bookseller, pure and simple, and over
      the last decade has branched out into additional product areas and the third-party sales that now represent a good
      chunk of its revenue (some estimates put it at 25 percent).
    </p>
    <p>Both retailers and individual sellers utilize the Amazon.com platform to sell goods. Large retailers like
      Nordstrom, Land's End and Target use Amazon.com to sell their products in addition to selling them through their
      own Web sites. The sales go through Amazon.com and end up at Nordstrom.com, Land's End.com or Target.com for
      processing and order fulfillment. Amazon essentially leases space to these retailers, who use Amazon.com as a
      supplemental outlet for their online sales.</p>
  </div>
</div>