<div class="container" style="margin-top:10px">
  <mat-card style="border-top:2px solid #0d47a1">
    <h3><i class="fab fa-microsoft"></i> Microsoft Azure</h3>
    <div class="row">
      <div class="col-md-12">
        <p>Microsoft Azure is a cloud computing service created by Microsoft for building, testing, deploying, and
          managing applications and services through Microsoft-managed data centers. </p>
      </div>
    </div>
  </mat-card>
  <br>
  <div class="row">
    <div class="col-md-3">
      <mat-card style="min-height:310px" class="text-center">
        <mat-icon><i style="color:#42a5f5" class="fas fa-rocket fa-2x"></i></mat-icon>
        <br />
        <h3><b>Be future-ready</b></h3>
        <br />
        <p>Continuous innovation from Microsoft supports your development today and your product visions for tomorrow.
        </p>
      </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card style="min-height:310px" class="text-center">
            <mat-icon><i style="color:#ef5350" class="fas fa-layer-group fa-2x"></i></mat-icon>
            <br />
            <h3><b>Build on your terms</b></h3>
            <br />
            <p>With a commitment to open source and support for all languages and frameworks, build how you want and deploy
              where you want to.
            </p>
        </mat-card>
      
    </div>
    <div class="col-md-3">
        <mat-card style="min-height:310px" class="text-center">
            <mat-icon><i style="color:#7e57c2" class="fas fa-city fa-2x"></i></mat-icon>
            <br />
            <h3><b>Operate hybrid seamlessly</b></h3>
            <br />
            <p>On-premises, in the cloud and at the edge—we will meet you where you are. Integrate and manage your
              environments with services designed for hybrid cloud.
            </p>
        </mat-card>
      
    </div>
    <div class="col-md-3">
        <mat-card style="min-height:310px" class="text-center"><mat-icon><i style="color:#66bb6a" class="fas fa-shield-alt fa-2x"></i></mat-icon>
          <br />
          <h3><b>Trust your cloud</b></h3>
          <br />
          <p>Get security from the ground up, backed by a team of experts and proactive compliance trusted by enterprises,
            governments and startups.
          </p>
        </mat-card>
      
    </div>
  </div>
</div>