<div class="row" style="background-color:#e0e0e0;padding:30px">
  <div class="offset-md-1 col-md-4 text-center">
    <h4>Edit naturally, review easily with Word</h4>
    <br />
    <p>
      Use ink intuitively to edit documents directly with Ink Editor. Strike through words to delete, circle text to
      select, and automatically snap highlighter ink to text.</p>
  </div>
  <div class="col-md-5">
    <div class="overlay rounded z-depth-2">
      <img style="position:absolute;left:-10px" class="img-fluid1" src="./../../../../assets/images/word.gif">
    </div>
  </div>
</div>