<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-md-7">
            <h3 style="text-transform: uppercase">
                Google Cloud Platform
              </h3>
              <p>
                  Effectively managing and reporting on costs is a critical part of financial stewardship, whether you’re running a multi-billion-dollar enterprise business or small household budget. But making data-driven decisions on how to cut costs or double down on a business venture all starts with collecting the data you’ll need to inform those decisions. 

At Google Cloud Platform (GCP), one of our goals is to help customers make data-driven decisions about their cloud costs and usage. You can do this through multiple native capabilities available in the Cloud Console, including Billing reports, budgets and alerts, configurable quotas, resource hierarchies, and Billing export. 
              </p>
          </div>
      <div class="col-lg-5">
        <div class="overlay rounded z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" src="./../../assets/images/gcp.png">
        </div>
      </div>
      
    </div>
     
    </div>