<div class="container" style="margin-top:10px">
  <mat-card style="border-top:2px solid black">
    <h3><i class="fab fa-apple"></i> Apple Inc</h3>
    <div class="row">
      <div class="col-md-8">
        <p>Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that
          designs, develops, and sells consumer electronics, computer software, and online services. It is considered
          one of the Big Four tech companies along with Amazon, Google, and Facebook.</p>
        <p>The company's hardware products include the iPhone smartphone, the iPad tablet computer, the Mac personal
          computer, the iPod portable media player, the Apple Watch smartwatch, the Apple TV digital media player, the
          AirPods wireless earbuds and the HomePod smart speaker. Apple's software includes the macOS, iOS, iPadOS,
          watchOS, and tvOS operating systems, the iTunes media player, the Safari web browser, the Shazam acoustic
          fingerprint utility, and the iLife and iWork creativity and productivity suites, as well as professional
          applications like Final Cut Pro, Logic Pro, and Xcode. Its online services include the iTunes Store, the iOS
          App Store, Mac App Store, Apple Music, Apple TV+, iMessage, and iCloud. Other services include Apple Store,
          Genius Bar, AppleCare, Apple Pay, Apple Pay Cash, and Apple Card.</p>
      </div>
      <div class="col-md-4">
        <mat-card style="border-top:2px solid #f7ae41">
          <mat-card-header>
            <div mat-card-avatar><i class="fab fa-apple fa-2x"></i></div>
            <mat-card-title>Apple</mat-card-title>
            <mat-card-subtitle>Technology company</mat-card-subtitle>
          </mat-card-header>
          <!-- <img src="./../../assets/images/amazon.jpg" class="center"> -->
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <!-- <h3 matLine> Date launched: </h3> -->
              <p matLine>
                <span style="font-weight:700"> Founded in: </span>
                <span class="demo-2"> 1980
                </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>
                <span style="font-weight:700"> Founder: </span>
                <span class="demo-2"> Steve Jobs, Steve Wozniak, Ronald Wayne
                </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>
                <span style="font-weight:700"> Stock price: </span>
                <span class="demo-2"> AAPL (NASDAQ)
                </span>
              </p>
              <p matLine>
                <span> US$ 202.64 </span>
                <span class="demo-2" style="color:red">-9.82 (-4.62%)</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card>

      </div>
    </div>
  </mat-card>
</div>