<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="app-toolbar">
  <span><mat-icon (click)="_toggleSidebar()"><i class="fab fa-angular" style="font-size:48px"></i></mat-icon></span>
  <span style="flex: 1 1 auto;"></span>
    <ol class="breadcrumb breadcrumb-fill2">
        <li *ngFor="let item of breadcrumbList; let i = index" class="breadcrumb-item" 
        [class.active]="i===breadcrumbList.length-1">
        <span *ngIf="i==0 && i===breadcrumbList.length-1" [innerHtml]="item.iconName"></span>
        <span *ngIf="i==0 && i!==breadcrumbList.length-1" ><a [routerLink]="item.path" [innerHtml]="item.iconName"></a></span>
        <span *ngIf="i!==0"> <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
            {{ item.name }}
          </a></span>
          <span *ngIf="i===breadcrumbList.length-1 && i!==0">{{ item.name }}</span>
       
      </li>
      </ol>
      <span style="flex: 1 1 auto;"></span>
      <span></span>
</mat-toolbar>

<ng-sidebar-container>
 
  <!-- A sidebar -->
  <ng-sidebar sidebarClass="sidebar" [(opened)]="_opened"  [(dock)]="_isDocked" [(mode)]='mode' dockedSize='80px'>
      <div style="margin-top: 5px">
          <div>
            <button tabindex="-1" mat-icon-button (click)='_toggleSidebar()' class="float-right" style="margin-right: 20px">
              <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
            </button>
          </div>
          <!-- <button mat-raised-button type="submit" color="primary" (click)='_toggleSidebar()'><div mat-card-avatar><mat-icon>apps</mat-icon></div></button> -->
        </div>
        <br><br>
      <app-rootnav [isOpened]="_opened"></app-rootnav>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
      <div style="position:relative" [@fadeAnimation]="getRouterOutletState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </div>
    </div>

</ng-sidebar-container>



