<div class="container" style="margin-top:10px">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <mat-card style="border-top:2px solid #f7ae41">
          <mat-card-header>
            <div mat-card-avatar><i class="fab fa-aws fa-2x"></i></div>
            <mat-card-title>Amazon Web Services</mat-card-title>
            <mat-card-subtitle>Internet protocol</mat-card-subtitle>
          </mat-card-header>
          <!-- <img src="assets/images/amazon.jpg" class="center"> -->
          <mat-divider></mat-divider>
          <mat-card-content>
            <div style="font-size:1.125rem">
              <p>Amazon AWS or Amazon Simple Storage Service is a service offered by Amazon Web Services that provides
                object storage through a web service interface. Amazon AWS uses the same scalable storage infrastructure
                that Amazon.com uses to run its global e-commerce network.</p>
              <p>Amazon AWS can be employed to store any type of object which allows for uses like storage for Internet
                applications, backup and recovery, disaster recovery, data archives, data lakes for analytics, and hybrid
                cloud storage. In its service-level agreement, Amazon AWS guarantees 99.9% monthly uptime, which works out
                to less than 43 minutes of downtime per month.</p>
                <p>Amazon launched Amazon AWS in the United States on March 14, 2006, then in Europe in November 2007.</p>
            </div>
            <mat-divider></mat-divider>
            <div class="row" style="padding:5px">
                <span></span>
                <span style="flex:1 1 auto"></span>
                <span style="font-weight:700"><mat-icon style="position:relative;top:6px;right:6px"><i class="far fa-clock"></i></mat-icon><b>22/08/1019</b></span>
            </div>
            
          </mat-card-content>
  
        </mat-card>
  
      </div>
    </div>
  </div>