<div class="container">
  <mat-card style="border-top:2px solid black">
    <h3>Gmail</h3>
    <div class="row">
      <div class="col-md-8">
        <p>Gmail (pronounced Gee-mail) is a free Web-based e-mail service currently being tested at Google that provides
          users with a gigabyte of storage for messages and provides the ability to search for specific messages. The
          Gmail program also automatically organizes successively related messages into a conversational thread.</p>
          <p>According to Google co-founder and president Larry Page, the company was inspired to create Gmail because of a user's letter complaining about problems with existing Web e-mail services, such as the constant need to delete messages to stay within storage limits, and the lack of any searching ability. The two largest Web e-mail providers, Yahoo and Microsoft, allow users four megabytes and two megabytes, respectively, for storing messages. Both services charge a fee for additional storage. Yahoo Mail provides a search capability; Microsoft's Hotmail service does not.

              To make Gmail profitable, Google will sell advertising and deliver it to targeted users. The company's software will parse users' messages to determine advertising matches and will occasionally insert appropriate ads in e-mail messages. Some have raised concerns about privacy issues, and the intrusiveness of the ads. However, in a recent interview, Page insisted that there would be strict safeguards in place to protect user information, and that the ads would not be "annoying." Furthermore, although there will be some advertising within messages, the program will be free of more traditional advertising, such as banners or pop-up ads.</p>
      </div>
      <div class="col-md-4">
        <mat-card style="border-top:2px solid red">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Gmail</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
              </mat-card-header>
          <!-- <img src="assets/images/gmail.png" class="center"> -->
          <mat-divider></mat-divider>
          <mat-list>
              <mat-list-item>
                <!-- <h3 matLine> Date launched: </h3> -->
                <p matLine>
                  <span style="font-weight:700"> Date launched: </span>
                  <span class="demo-2">  1 April 2004
                    </span>
                </p>
              </mat-list-item>
              <mat-list-item>
                  <p matLine> 
                      <span style="font-weight:700"> Developed By: </span>
                      <span class="demo-2">  Google
                        </span>
                  </p>
                </mat-list-item>
              <mat-list-item>
                <p matLine> 
                    <span style="font-weight:700"> Written in: </span>
                    <span class="demo-2">  Java, JavaScript, Ajax
                      </span>
                </p>
              </mat-list-item>
            </mat-list>
        </mat-card>

      </div>
    </div>
  </mat-card>
</div>