<div class="container" style="margin-top:10px">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <mat-card style="border-top:2px solid #f7ae41">
        <mat-card-header>
          <div mat-card-avatar><i class="fab fa-amazon-pay fa-2x"></i></div>
          <mat-card-title>Amazon Pay</mat-card-title>
          <mat-card-subtitle>Internet protocol</mat-card-subtitle>
        </mat-card-header>
        <!-- <img src="assets/images/amazon.jpg" class="center"> -->
        <mat-divider></mat-divider>
        <mat-card-content>
          <div style="font-size:1.125rem">
            <p>Amazon Pay is an online payments processing service that is owned by Amazon. Launched in 2007, Amazon Pay
              uses the consumer base of Amazon.com and focuses on giving users the option to pay with their Amazon
              accounts on external merchant websites. </p>

            <p>Amazon Pay provides the option to purchase goods and services from websites and mobile apps using the
              addresses and payment methods stored in the Amazon account, such as credit cards or a direct debit bank
              account.</p>
            <mat-divider></mat-divider>
            <h3>Amazon Pay Express</h3>
            <p>Amazon Pay Express is a payments processing service for simple E-commerce use cases on websites. Built on
              Amazon Pay but without requiring a full E-commerce integration it uses a Java button code generator to
              create a button that can be copied and pasted onto a website or added via WordPress Plug-in. It is best
              suited for merchants selling a small number of products and with a single item in each order, such as a
              digital download.</p>
          </div>
          <mat-divider></mat-divider>
          <div class="row" style="padding:5px">
            <span style="position:relative;top:6px;left:6px"><b>Registration:</b> Free</span>
            <span style="flex:1 1 auto"></span>
            <span style="font-weight:700">
              <mat-icon style="position:relative;top:6px;right:6px"><i class="far fa-clock"></i></mat-icon>
              <b>22/08/1019</b>
            </span>
          </div>

        </mat-card-content>

      </mat-card>

    </div>
  </div>
</div>