<div class="container" style="margin-top:10px">
    <img class="center" src="./../../assets/images/go.png">
    <div class="row">
      <div class="col-lg-12" style="margin:0 auto"> </div>
      <div class="col">
        <h2 class="text-center">Golang</h2>
        <p>
            Go, also known as Golang, is a statically typed, compiled programming language designed at Google by Robert Griesemer,
            Rob Pike, and Ken Thompson. Go is syntactically similar to C, but with memory safety, garbage collection, structural
            typing, and communicating sequential processes-style concurrency.
          </p>
      </div>
    </div>