<div class="container" style="margin-top:10px">
  <img class="img" src="assets/images/amazon_cloud.png" alt="Notebook" style="width:100%;">
  <div class="content">
    <h3 style="text-transform: uppercase">
      Amazon Cloud
    </h3>
    <p>
      Get started with Amazon CloudFront. Amazon CloudFront is a fast content delivery network (CDN) service that
      securely delivers data, videos, applications, and APIs to customers globally with low latency, high transfer
      speeds, all within a developer-friendly environment.
    </p>
    <p>RP offers a Amazon - AWS Cloud Managed Services to help you take the full advantage of AWS Cloud Investment. We
      help you plan and decide the right sizing during the process of your decision to use IT Infrastructure over cloud.
    </p>
    <p>RP's AWS Cloud experts will help you Plan -> Build -> Manage your Cloud IT Infrastructure end-to-end. We will
      help you Optimize your existing environment over AWS Cloud to ensure best performance, security with Business
      Continuity Planning.

      We will also Monitor your AWS Cloud Infra with your tools or our hosted tools / platforms, to provide you
      end-to-end manageability and support round the clock.</p>
  </div>
</div>